*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* styel for the header starts here */
.tm-header{
    background: blue;
    display: block;
    padding: 20px;
    
}
.tm-logo{
    align-content: center;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
.tm-nav{
    max-width: 90%;
        border: 2px solid #3a382e;
     display: block;
   
     margin: 30px auto 5px auto;
   
 }
 .tm-nav div
{
    display: table;
    padding: 10px;
    margin: 0px auto;
}
.tm-nav div ul li{
    display:inline-block;  
   
}
.tm-nav div ul li a{
    font-size: 1.8vmax;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    
    
}
.tm-nav div ul li a:hover{
    
    color: tomato;
}
.tm-list::after{
    content: url("../images/circle.png");
  
   
}
/* style for the header starts here */


/* style for the slider starts here */
.tm-slider{
    position: relative;
}
.tm-sliderimage{
    width: 100%;
   display: block;
   
   
}
.bold{
    padding-bottom: 5px;
    font-size: 3vw;  
    font-weight: 900;
}
.simple{
    font-size: 2.5vw;  
}
.tm-slidertext{
    position: absolute; 
      top: 30%; 
     left: 50%;     
       color: #fff;
   }